<h2>Productos en tiempo real!</h2>

<div id="hbsProducts">
    {{#if products.length}}
        {{#each products}}
        <ul>
            <li>{{id}}</li>
            <li>{{title}}</li>
            <li>{{description}}</li>
            <li>{{code}}</li>
            <li>{{price}}</li>
            <li>{{status}}</li>
            <li>{{stock}}</li>
            <li>{{category}}</li>
            {{#if thumbnails.length}}
                <li>{{thumbnails}}</li>
            {{/if}}
        </ul>
        {{/each}}
    {{else}}
        <p>There are no registered products</p>
    {{/if}}
</div>

<p id="products"></p>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>